.venv/
.history/
.vscode/
.ipynb_checkpoints/
build/
dist/
local_structure.egg-info/

__pycache__/
src/models/
src/datasets/av/
src/datasets/crypto/
src/datasets/gcp/
src/datasets/predicted/
src/datasets/validation/

src/test/
src/credentials/